<div class="container-fluid">
          <!-- Content Row -->
 <div class="row">
 
    <div class="container p-4">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-bady">
                        <form action="" method="post">
                            <div class="form-group">
                                <div class="card-header bg-light">
                            
                            <h1 class="font-weight-bold mb-0"><img src="https://2.bp.blogspot.com/-mydoB2WTsZE/UREQSt28uAI/AAAAAAAAABs/9gTal2ahYDQ/s400/Logo.png" alt=""> Registar Datos Basicos</h1>
                            </div>
                            </div>
                            <div class="form-group">
                                <label>Nombre y Apellidos</label>
                                <input class="form-control" type="text" name="nombres" id="">
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <h6>Documento de Identidad</h6>
                                        <input type="checkbox" class="form-check-input" name="cc" id="">
                                        <label class="form-check-label" for="exampleCheck1">C.C.</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="ci" id="">
                                        <label class="form-check-label" for="exampleCheck1">C.I</label>
                                    </div>
                                    <label for="form-gruop">No.</label>
                                    <input class="form-control" type="text" name="no" id="">
                            </div>
                            <div class="form-group">
                                <label>lugar Expedición</label>
                                <input class="form-control" type="text" name="lugarx" id="">
                            </div>
                            <div class="form-group">
                                <label>Código Estudiantil</label>
                                <input class="form-control" type="text" name="codigo" id="">
                            </div>
                            <div class="form-group">
                            <h6>Ciclo Profesional</h6>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="tecnico" id="">
                                        <label class="form-check-label" for="exampleCheck1">Técnico</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="tecnologo" id="">
                                        <label class="form-check-label" for="exampleCheck1">Tecnólogico</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="profesional" id="">
                                        <label class="form-check-label" for="exampleCheck1">Profesional</label>
                                    </div>
                            </div>
                            <div class="form-group">
                            <h6>Ultimo Semestre Cursado</h6>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="periodoa" id="">
                                        <label class="form-check-label" for="exampleCheck1">Periodo A (Enero - Junio) </label>
                                        <input class="form-control" type="text" name="añoa" id="">
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="periodob" id="">
                                        <label class="form-check-label" for="exampleCheck1">Periodo A (Julio - Diciembre) </label>
                                        <input class="form-control" type="text" name="añob" id="">
                                    </div>
                                    
                            </div>
                            <div class="form-group">
                               <button type="submit" class="btn btn-primary w-100">Registrar</button>
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 </div>
</div>
