<div id="content" class="bg-white w-100">
    <div class="container-fluid">
            <!-- Content Row -->
    <div class="row">
    
        <div class="container p-4">
            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-bady">
                            <form action="" method="post">
                                <div class="form-group">
                                    <div class="card-header bg-light">
                                
                                <h1 class="font-weight-bold mb-0"><img src="https://2.bp.blogspot.com/-mydoB2WTsZE/UREQSt28uAI/AAAAAAAAABs/9gTal2ahYDQ/s400/Logo.png" alt="">Documentos Anexos</h1>
                                </div>
                                </div>
                                <div class="form-group">
                                <h6>Documentos Anexo</h6>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="solicitud" id="">
                                            <label class="form-check-label" for="exampleCheck1">1. Solicitud de grado</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="copia" id="">
                                            <label class="form-check-label" for="exampleCheck1">2.Copia documento identidad ampliada.</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="icfes" id="">
                                            <label class="form-check-label" for="exampleCheck1">3. Certificación presentación pruebas T&T - SABER PRO.</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="carnet" id="">
                                            <label class="form-check-label" for="exampleCheck1">4. Carné estudiantil.</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="foto" id="">
                                            <label class="form-check-label" for="exampleCheck1">5.Foto carné egresado (tamaño 4x4 fondo blanco).</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="modalidad" id="">
                                            <label class="form-check-label" for="exampleCheck1">6. Certificación cumplimiento modalidad de grado - firmado por Director de Programa (Formato PA-ARC-F003).</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="encuenta" id="">
                                            <label class="form-check-label" for="exampleCheck1">7. Presentación Encuesta OLE ( M0 – M1)</label>
                                        </div>
                                </div>
                            <div class="form-group">
                                    <label>Fecha Solicitud</label>
                                    <input class="form-control" type="date" name="fecha" id="">
                                </div>
                                <div class="form-group">
                                    <label>Dirección de Contacto</label>
                                    <input class="form-control" type="text" name="direccion" id="">
                                </div>
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input class="form-control" type="text" name="ciudad" id="">
                                </div>
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input class="form-control" type="text" name="telefono" id="">
                                </div>
                                <div class="form-group">
                                    <label>Celular</label>
                                    <input class="form-control" type="text" name="celular" id="">
                                </div>
                                <div class="form-group">
                                    <label>Correo Electrónico</label>
                                    <input class="form-control" type="text" name="correo" id="">
                                </div>
                                
                                <div class="form-group">
                                <button type="submit" class="btn btn-primary w-100">Registrar</button>
                                
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-4 d-flex">
                                <a href="/estado/add" class="btn btn-primary w-100 align-self-center" role="button">Reporte</a>
                            </div>
</div>